<%# encoding: utf-8 %>

<legend class="boom-top-topic"><%= link_to "音乐列表", boombox_dj_boom_tracks_path %>/<%= params[:action] == "new" ? "上传音乐" : "编辑音乐"%></legend>

<div class="row page_header">
  <% if params[:action] == 'new' %>
    <% form_url = "/boombox/dj/boom_tracks" %>
    <% form_method = "POST" %>
    <h3>上传音乐</h3>
  <% elsif params[:action] == 'edit' %>
    <% form_url = "/boombox/dj/boom_tracks/#{track.id}" %>
    <% form_method = "PATCH" %>
    <h3>编辑音乐</h3>
  <% end %>
</div>

<div class="col-md-8 col-md-offset-2" id="track_form">
  <%= simple_form_for( track, url: form_url, method: form_method, html: { multipart: :true }) do |f| %>
    <div class="track_edit_area">
      <div class="row">
        <div class="track_cover_area ">
          <%= label_tag "cover", "封面" %>
          <div class="track_cover_areawrap">
            <div id="track_cover_preview">
              <%= boombox_default_avatar track.current_cover_url %>
            </div>
            <%= f.input :cover, label: "上传封面(建议大小:300x300)", input_html: {class: "track-cover-uploader"} %>
          </div>
        </div>

        <h3>音乐</h3>
        <div class="track_file_area">
          <% if params[:action] == 'new' %>
            <p id="track_filename">文件：未上传</p>
          <% else %>
            <p id="track_filename">文件：已上传</p>
          <% end %>
          <p id="track_size">大小：<%= track.file_size %> MB</p>
          <p id="track_duration">时长：<%= track.duration_to_time %></p>
          <%= f.input :file, label: "上传音乐,支持格式:mp3", input_html: {class: "track-file-uploader"} %>
          <p>
            <% if track.file_url %>
              <audio src=<%= track.file_url %> id="track-file-pre" controls="controls">你的浏览器不支持audio标签</audio>
            <% else %>
              <audio src="#" id="track-file-pre">你的浏览器不支持audio标签</audio>
            <% end %>
          </p>
          <%= f.hidden_field :duration %>
          <%= f.input :name, label: "(必填)标题", placeholder: "请输入少于10字的标题", input_html:{} %>
          <%= f.input :artists, label: "艺术家" %>
          <%= label_tag "标签" %>
          <p>
            <% if @tags.any? %>
              <select id="tags" multiple="multiple" style="width: 300px; display: none;" class="populate" tabindex="-1">
                <% @tags.each do |bt| %>
                  <option value="<%= bt.id %>"><%= bt.name %></option>
                <% end %>
              </select>
            <% else %>
              没有标签
            <% end %>
          </p>
          <%= hidden_field_tag "boom_tag_ids", params[:boom_tag_ids] %>
        </div>
      </div>

      <% if params[:action] == 'edit' %>
        <div class="row">
          <div class="col-sm-5 delete_area">
            <%= link_to "删除音乐", boombox_dj_boom_track_path(track), method: "delete", data: {confirm: "确定删除吗？"}, class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-offset-5">
        <%= submit_tag "保存", class: "btn btn-primary", id: "track-submit", data: { disable_with: "loading" } %>
      </div>
    </div>
  <% end %>
</div>

<%= content_tag :div, id: "current_file", data: {
  url: track.current_file_url.present? ? track.current_file_url : ""
} do %>
<% end %>

<% if params[:action] == 'edit' %>
  <%= content_tag :div, id: "tags_already_added", data: {
    data: @tags_already_added_ids
  } do %>
  <% end %>
  <%= content_tag :div, id: "artist_names", data: {
    data: @artist_names
  } do %>
  <% end %>
<% end %>
