<h4 class="pull-left"><%= "艺人总数：#{@collaborators_count}" %></h3>

<div class="search">
  <%= form_tag(boombox_operation_collaborators_path, class: 'form-inline', method: 'get') do %>
    <%= hidden_field_tag :per, @per %>
    <% if @is_top.present? %>
      <%= select_tag "is_top", "<option value=''>全部</option><option selected='selected' value='1'>推荐</option>".html_safe, class: 'form-control' %>
    <% else %>
      <%= select_tag "is_top", "<option selected='selected' value=''>全部</option><option value='1'>推荐</option>".html_safe, class: 'form-control' %>
    <% end %>
    <%= text_field_tag "q", params[:q],  class: 'form-control', placeholder: "输入关键词" %>
    <%= submit_tag "搜索", class: 'btn btn-default' %>
  <% end %>
</div>

<table class="table table-hover table-collaborator" id="collaborators_list">
  <thead>
    <tr>
      <th>头像</th>
      <th>名称</th>
      <th>标签</th>
      <th>粉丝数</th>
      <th>创建时间</th>
      <th>修改时间</th>
      <th>审核状态</th>
      <th>是否推荐</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <% if @collaborators.any? %>
    <% @collaborators.each do|collaborator| %>
      <tr class="tr-collaborator">
        <% if collaborator.avatar_url %>
          <td><%= image_tag(collaborator.avatar_url, size: "50x50") %></td>
        <%else %>
          <td>无头像</td>
        <% end %>
        <td><%= collaborator.name %></td>
        <td><%= collaborator.tags.pluck(:name).join(", ")%></td>
        <td><%= collaborator.followers.count %></td>
        <td><%= collaborator.created_at.strfcn_time %></td>
        <td><%= collaborator.updated_at.strfcn_time %></td>
        <td><%= collaborator.verified_cn %></td>
        <td><%= collaborator.is_top_cn %></td>
        <td>
          <%= link_to "查看详情", boombox_operation_collaborator_path(collaborator)%>
          <% if collaborator.is_top? %>
            已推荐
          <% else %>
            <%= link_to "推荐", set_top_boombox_operation_collaborator_path(collaborator), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr><td>无数据</td></tr>
  <% end %>
  </tbody>
</table>

<div class="dropup">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    每页显示数量
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><%= link_to "5", boombox_operation_collaborators_path(is_top: params[:is_top], q: params[:q], page: params[:page], per: 5) %></li> 
    <li><%= link_to "10", boombox_operation_collaborators_path(is_top: params[:is_top], q: params[:q], page: params[:page], per: 10) %></li> 
    <li><%= link_to "20", boombox_operation_collaborators_path(is_top: params[:is_top], q: params[:q], page: params[:page], per: 20) %></li> 
  </ul>
</div>

<%= paginate @collaborators %>
