<%# encoding: utf-8 %>
<legend>
  <%= link_to "电台列表", boombox_operation_radios_path %>/管理音乐
  <%= link_to "发布电台", publish_boombox_operation_radio_path(@radio), method: :post, class: 'btn btn-primary' unless @radio.is_display %>
  <span class="font-gray pull-right">最后修改时间: <%= get_datetime @radio.updated_at %></span>
</legend>
<%= hidden_field_tag "radio_id", @radio.id %>
<div role="tabpanel">
  <ul class="nav nav-pills" role="tablist" id="radio_manage_tab">
    <li role="presentation" class="active" id="radio_track_list"><a href="#radio_tracks" aria-controls="radio_tracks" role="tab" data-toggle="tab">音乐列表</a></li>
    <li role="presentation"><a href="#radio_search_tracks" aria-controls="radio_search_tracks" role="tab" data-toggle="tab">搜索添加</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="radio_tracks">
      <%= render partial: "/boombox/operation/tracks/list_table", locals: {tracks: @radio_tracks, list_type: "playlist_tracks"} %>
    </div>

    <div role="tabpanel" class="tab-pane" id="radio_search_tracks">
      <div class="search">
        <%= form_tag(manage_tracks_boombox_operation_radio_path, class: 'form-inline', id: "search_radio_tracks_form", method: 'get') do %>
          <%= text_field_tag "q", nil,  class: 'form-control', placeholder: "输入音乐名字的关键字进行搜索", size: 50 %>
          <%= submit_tag "搜索", class: 'btn btn-default', id: "radio_search_track_btn" %>
        <% end %>
      </div>
      <div id="radio_search_track_table">
        <%= render partial: "/boombox/operation/tracks/list_table", locals: {tracks: @tracks, list_type: "search_tracks"} %>
      </div>
    </div>
  </div>
</div>
