<%# encoding: utf-8 %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3 class="pull-left">用户详情</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-1 avatar-area">
    <div class="col-md-7 avatar-content col-md-offset-2">
      <div class="text-center">
        <% if @user.avatar_url %>
          <%= image_tag(@user.avatar_url, size: "200x200") %>
        <% else %>
          <h5>没有头像</h5>
        <% end %>
      </div>
      <div class="text-center">
        <button class="text-center"><%= link_to "屏蔽头像", remove_avatar_boombox_operation_boom_user_path(@user), method: 'post' %></button>
      </div>
    </div>
  </div>
  <div class="col-md-5 information-area">
    <div class="col-md-7 col-md-offset-2 infomation-content">
      <div class="text-center">
        <h4>昵称</h4>
        <p><%= @user.nickname %></p>
      </div>
      <div class="text-center">
        <h4>性别</h4>
        <p><%= @user.sex_cn %></p>
      </div>
      <div class="text-center">
        <h4>生日</h4>
        <p><%= @user.birthday.strfcn_date %></p>
      </div>
      <div class="text-center">
        <h4>邮箱</h4>
        <p><%= @user.email %></p>
      </div>
      <div class="text-center">
        <h4>手机号码</h4>
        <p><%= @user.mobile %></p>
      </div>
    </div>
  </div>
</div>
<div role="tabpanel">
  <ul class="nav nav-pills" role="tablist" id="">
    <li role="presentation" class="active" id=""><a href="#boom_user_comments_list" aria-controls="boom_user_comments_list" role="tab" data-toggle="tab">评论</a></li>
    <li role="presentation"><a href="#boom_user_like_topics" aria-controls="boom_user_like_topics" role="tab" data-toggle="tab">点赞</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="boom_user_comments_list">
      <%= render partial: "user_comments_table" %>
    </div>

    <div role="tabpanel" class="tab-pane" id="boom_user_like_topics">
  <h4 class="pull-left"><%= "点赞总数：#{@like_topics.total_count}"%></h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class='text-center'>动态发表人</th>
            <th class='text-center'>点赞的动态</th>
            <th class='text-center'>点赞时间</th>
          </tr>
        </thead>
        <tbody class='text-center'>
          <% if @like_topics.any? %>
            <% @like_topics.each do |topic| %>
              <tr>
                <td class="text-center"><%= topic.created_by %></td>
                <td class="text-center" style="width: 30%"><%= link_to truncate(topic.content, length: 50), boombox_operation_boom_topic_path(topic) %></td>
                
                <td class="text-center"><%= @user.like_boomtopic_at(topic).strfcn_time %></td>
              </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>

      <%= paginate @like_topics, param_name: "like_topics_page" %>
    </div>
  </div>
</div>


