<%# encoding: utf-8 %>
<div class="nav">
  <div class="text-center">
    <% if params[:action] == 'new' %>
      <% form_url = "/boombox/operation/tracks" %>
      <% form_method = "POST" %>
      <h1>上传音乐</h1>
    <% elsif params[:action] == 'edit' %>
      <% form_url = "/boombox/operation/tracks/#{track.id}" %>
      <% form_method = "PATCH" %>
      <h1>编辑音乐</h1>
    <% end %>
  </div>
  <div id="track_form">
    <%= hidden_field_tag "track_tag_ids", track.boom_tags.pluck(:id) %>
    <%= simple_form_for( track, url: form_url, method: form_method, html: { class: 'form-horizontal', multipart: :true }) do |f| %>
      <div class="row">
        <div class="col-xs-3 col-sm-4">
          <div class="text-center" id="cover_preview">
            <%= f.input :cover, label: "封面(建议大小:500x500, 支持格式:jpg jpeg gif png), 支持拖文件进框上传", input_html: {class: "track-cover-uploader dropzone", id: "track_cover"} %>
            <% if params[:action] == 'edit' %>
              <img id="track_cover_url" src=<%= track.cover_url %> />
            <% end %>
          </div>
        </div>

        <div class="col-xs-9 col-sm-6">
          <div class="form-group">
            <%= f.input :file, label: "支持格式:mp3, 拖文件进框上传", input_html: {class: "dropzone track-file-uploader"} %>
            <% if track.file_url %>
              <audio src=<%= track.file_url %> id="track-file-pre" controls="controls">你的浏览器不支持audio标签</audio>
              <% track_src = track.file_url %>
            <% else %>
              <audio src="#" id="track-file-pre">你的浏览器不支持audio标签</audio>
            <% end %>
            <%= f.hidden_field :duration %>
            <%= f.input :name, label: "(必填)标题", placeholder: "请输入少于10字的标题" %>
            <%= f.input :artists, label: "艺人", placeholder: "请输入艺人名字" %>
            <%= f.input :is_top, label: "打勾推荐此音乐" %>

            <%= label_tag "tags", "标签" %>
            <%= hidden_field_tag "tag_ids", params[:boom_tag_ids], id: 'boom_tag_ids' %>
            <div id="track_delete_tag">
              <% tags = track.boom_tags.pluck(:name, :id) %>
              <% tags.each do |track_tag| %>
                <span class="btn btn-default"><%= track_tag[0] + "" %></span><button data-tag-id="<%= track_tag[1] %>" class="btn btn-danger remove_tag">删除</button>
              <% end %>
            </div>
            <div class="form-group">
              <%= select_tag "select_tags", options_for_select(BoomTag.valid_tags.collect{|boom_tag| [boom_tag.name, boom_tag.id]}), class:"form-control", id: "track_tag_list" %>
              <a class="btn btn-primary" id="track_add_tag">添加选中标签</a>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <%= submit_tag "保存", class: "btn btn-primary", id: "track-submit", data: { disable_with: "loading" } %>
      </div>
    <% end %>
  </div>
</div>
