<%# encoding: utf-8 %>

<legend><%= link_to "音乐列表", boombox_operation_tracks_path %>/<%= params[:action] == "new" ? "上传音乐" : "编辑音乐"%></legend>
<div class="nav">
  <div class="col-md-offset-5">
    <% if params[:action] == 'new' %>
      <% form_url = "/boombox/operation/tracks" %>
      <% form_method = "POST" %>
      <h1>上传音乐</h1>
    <% elsif params[:action] == 'edit' %>
      <% form_url = "/boombox/operation/tracks/#{track.id}" %>
      <% form_method = "PATCH" %>
      <h1>编辑音乐</h1>
    <% end %>
  </div>
  <div id="track_form">
    <%= simple_form_for( track, url: form_url, method: form_method, html: { multipart: :true }) do |f| %>
      <div class="row">
        <div class="col-sm-5">
          <div class="text-center">
            <%= f.input :cover, label: "上传封面(建议大小:300x300)", input_html: {class: "track-cover-uploader col-sm-offset-4"} %>
            <div id="track_cover_preview">
              <%= boombox_default_avatar track.current_cover_url %>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div>
            <%= f.input :file, label: "上传音乐,支持格式:mp3", input_html: {class: "track-file-uploader col-sm-offset-3"}, label_html: {class: "col-sm-offset-3"} %>
            <% if track.current_file_url %>
              <audio src="<%= track.current_file_url %>" id="track-file-pre" controls="controls">你的浏览器不支持audio标签</audio>
            <% else %>
              <audio src="#" id="track-file-pre">你的浏览器不支持audio标签</audio>
            <% end %>
            <%= f.hidden_field :duration %>
            <%= f.input :name, label: "(必填)标题", placeholder: "请输入少于10字的标题", input_html:{} %>
            <%= f.input :is_top, label: "打勾推荐此音乐" %>
            <%= f.input :artists, label: "艺术家", input_html:{ id: "operation_track_artists" }%>
            <%= f.input :track_tag_names, label: "标签", input_html:{ id: "operation_track_tags" }%>

          </div>
        </div>
      </div>

      <div class="col-md-offset-5">
        <%= submit_tag "保存", class: "btn btn-primary", id: "track-submit", data: { disable_with: "loading" } %>
      </div>
    <% end %>
  </div>
</div>

<%= content_tag :div, id: "operation_track_tags", data: {
  all_tags: @tag_names
} do %>
<% end %>

<%= content_tag :div, id: "operation_artist_names", data: {
  data: @artist_names
} do %>
<% end %>
