<%# encoding: utf-8 %>

<%= form_tag(boombox_operation_tracks_path, id: "tracks_form", class: 'form-inline', method: 'get', remote: true) do %>
  <h4 class="pull-left"><%= "音乐数/总数：#{tracks.total_count}/#{BoomTrack.valid.count}"%></h3>
  <div class="search">
    <div class="datetimepicker form-group">
      <label> 创建时间</label>
      <%= text_field_tag "start_time", params[:start_time],  class: 'form-control tracks_filter track_datetime', placeholder: "起始时间", size:30 %>
      <label> 至</label>
      <%= text_field_tag "end_time", params[:end_time],  class: 'form-control tracks_filter track_datetime', placeholder: "结束时间", size:30 %>
    </div>
    <%= select_tag :is_top, options_for_select([["全部",""], ["推荐","1"]], selected: params[:is_top] || ""), class:"form-control tracks_filter" %>
    <%= text_field_tag "q", params[:q],  class: 'form-control tracks_filter', placeholder: "输入关键词进行搜索", size:30%>
    <%= submit_tag "搜索", class: 'btn btn-default' %>
  </div>

  <%= render partial: "/boombox/operation/tracks/list_table", locals: {tracks: tracks, list_type: ""} %>

  <div>每页显示数量
    <%= select_tag :per, options_for_select([5, 10, 15, 20], selected: params[:per] || 10), class: "form-control tracks_filter" %>
  </div>

<% end %>
