
<%= form_tag(boombox_operation_boom_tags_path, class: 'form-inline', id: "boom_tag_form", method: 'get', remote: true) do %>
  <h4 class="pull-left"><%= "标签数/总数：#{@boom_tags.total_count}/#{BoomTag.count}"%></h3>
  <div class="search">
    <%= select_tag :is_hot, options_for_select([["全部", ""], ["推荐", "1"]], selected: params[:is_hot] || ""), class:"form-control boom_tags_filter" %>
    <%= text_field_tag "q", params[:q],  class: 'form-control boom_tags_filter', placeholder: "输入关键词进行搜索", size:30%>
    <%= submit_tag "搜索", class: 'btn btn-default' %>
  </div>

    <table class="table table-hover boom_tags">
      <thead>
        <tr>
          <th class='text-center'>标签名称</th>
          <th class='text-center'>关联音乐</th>
          <th class='text-center'>关联Playlist</th>
          <th class='text-center'>关联电台</th>
          <th class='text-center'>关联艺人</th>
          <th class='text-center'>关联活动</th>
          <th class='text-center'>操作</th>
        </tr>
      </thead>
      <tbody class='text-center'>
        <% if @boom_tags.any? %>
          <% @boom_tags.each do|boom_tag| %>
            <tr>
              <td><%= boom_tag.name %></td>
              <td><%= boom_tag.tracks.count %></td>
              <td><%= boom_tag.playlists.playlist.count %></td>
              <td><%= boom_tag.playlists.radio.count %></td>
              <td><%= boom_tag.collaborators.count %></td>
              <td><%= boom_tag.activities.count %></td>
              <td>
                <%= link_to boom_tag.is_hot_cn, change_is_hot_boombox_operation_boom_tag_path(boom_tag), method: 'POST' %>
                <%= link_to "删除", boombox_operation_boom_tag_path(boom_tag), method: "delete", data: {confirm: "确定删除吗？"} %>
              </td>
            </tr>
          <%end%>
        <%end%>
      </tbody>
    </table>

  <div>每页显示数量
    <%= select_tag :per, options_for_select([5, 10, 15, 20], selected: params[:per] || 10), class: "form-control boom_tags_filter" %>
  </div>

  <%= paginate @boom_tags, remote: true %>
<% end %>
