<div class="nav">
  <h1 class="pull-left">城市列表</h1>
  <div class="search">
    <%= form_tag(search_operation_cities_path, class: 'form-inline', method: 'get') do %>
      <%= text_field_tag "q", nil,  class: 'form-control', placeholder: "城市名、拼音" %>
      <%= submit_tag "搜索", class: 'btn btn-default' %>
    <% end %>
  </div>

  <div class="cities_list">
    <div class='form-group'>
      <%= link_to '新建城市', new_operation_city_path, class: 'btn btn-primary btn-next-to-header' %>
      <%= link_to '返回场馆列表', operation_stadiums_path, class: 'btn btn-default btn-next-to-header' %>
    </div>
    <table class="cities table">
      <thead>
        <tr>
          <th>名称</th>
          <th>场馆数</th>
          <th>操作</th>
        </tr>
      </thead>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td><%= link_to city.stadiums_count, operation_stadiums_path(city_id: city.id) %></td>
          <td><%= link_to "编辑城市", edit_operation_city_path(city.id) %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @cities%>
  </div>
</div>
