<%# encoding: utf-8 %>
<% if params[:controller] == "boombox/operation/collaborators" %>
  <% form_path = boombox_operation_collaborator_path(@collaborator) %>
<% else %>
  <% form_path = boombox_operation_activities_path %>
<% end %>
<%= form_tag(form_path, id: "activities_form", class: 'form-inline', method: 'get', remote: true) do %>
  <h4 class="pull-left"><%= "活动总数：#{activities.total_count}"%></h4>
  <div class="search">
    <div class="datetimepicker form-group">
      <label> 创建时间</label>
      <%= text_field_tag "activities_start_time", params[:activities_start_time],  class: 'form-control activities_filter activity_datetime', placeholder: "起始时间", size:30 %>
      <label> 至</label>
      <%= text_field_tag "activities_end_time", params[:activities_end_time],  class: 'form-control activities_filter activity_datetime', placeholder: "结束时间", size:30 %>
    </div>
    <%= select_tag :activities_is_hot, options_for_select([["全部",""], ["推荐","1"]], selected: params[:activities_is_hot] || ""), class:"form-control activities_filter" %>
    <%= text_field_tag "activities_q", params[:activities_q],  class: 'form-control activities_filter', placeholder: "输入关键词进行搜索", size:30%>
  </div>

  <table class="table table-hover activities">
    <thead>
      <tr>
        <th class='text-center'>显示状态</th>
        <th class='text-center'>标题</th>
        <th class='text-center'>标签</th>
        <th class='text-center'>艺人</th>
        <th class='text-center'>创建时间</th>
        <th class='text-center'>推荐状态</th>
        <th class='text-center'>操作</th>
      </tr>
    </thead>
    <tbody class='text-center'>
      <% if activities.any? %>
        <% activities.each do|activity| %>
          <tr>
            <td><%= activity.is_display_cn %></td>
            <td><%= activity.name %></td>
            <td>
              <% cache tags = activity.boom_tags.pluck(:name) do %>
                <% if tags.present? %>
                  <%= truncate(tags.join(","), length: 50) %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% collaborators = activity.collaborators.pluck(:name)%>
              <% if collaborators.present? %>
                <%= truncate(collaborators.join(", "), length: 50) %>
              <% end %>
            </td>
            <td><%= get_datetime( activity.created_at ) %></td>
            <td><%= activity.is_hot_cn %></td>
            <td>
              <%= link_to activity.is_top ? "取消置顶" : "置顶", change_is_top_boombox_operation_activity_path(activity), method: "post" %>
              <%= link_to "编辑", edit_boombox_operation_activity_path(activity)%>
            </td>
          </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>

  <div>每页显示数量
    <%= select_tag :activities_per, options_for_select([5, 10, 15, 20], selected: params[:activities_per] || 10), class: "form-control activities_filter" %>
  </div>

  <%= paginate activities, param_name: "activities_page", remote: true %>
<% end %>
