<div class="nav">
  <h2>系统用户</h2>
  <p><button type="button" class="btn btn-default" ><%= link_to "创建新用户", new_operation_admin_path%></button></p>
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th><%= check_box_tag "check_all" %></td>
          <th>用户名称</td>
          <th>用户类型</td>
          <th>操作</td>
        </tr>
      </thead>
      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td><%= check_box_tag "check" %></td>
            <td><%= admin.name %></td>
            <td><%= admin.type_cn %></td>
            <td>
              <% if can? :update, admin %>
                <%= link_to "修改密码", edit_operation_admin_path(admin)%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
