<!DOCTYPE html>
<html>
  <head>
    <title>Hoishow</title>
    <%= stylesheet_link_tag "seats_map" %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content='True' name='HandheldFriendly' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <%= favicon_link_tag '/admin_avatar.png', :type => 'image/png' %>
    <%= javascript_include_tag "seats_map" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="seats_map">
    <div class="content text-center">
      <div class="front">
        <h4>舞台</h4>
        <div class="nav-seat">
          <span><i class="avaliable"></i>可选</span>
          <span><i class="locked"></i>锁定</span>
          <span><i class="checked"></i>已选</span>
        </div>
      </div>
      <div class="seats_box">
        <ul class="list-unstyled">
          <% if @max_row.present? && @max_col.present? %>
            <% 1.upto(@max_row) do |row| %>
              <span class="row-bar pull-left"><%= row %></span>
              <li>
                <% column_array =if @sort_by == 'asc'
                    1.upto(@max_col)
                  else
                    @max_col.downto(1)
                  end
                %>
                <% column_array.each do |col| %>
                  <% seat = @seats["#{row}|#{col}"]
                     default_seat_no = "#{row}排|#{col}座"
                    #  兼容之前 api, 写死每个 seat 的 id
                     hardcode_seat_id = 1
                  %>
                  <%
                     if seat
                       status = if seat['channels'].include?('hoishow')
                         # 其他渠道的 seat 一律设置为 locked
                         Area::SEAT_LOCKED
                       else
                         seat['status']
                       end

                       price, seat_no = seat['price'], seat['seat_no']
                     else
                       status, price, seat_no = '', '', default_seat_no
                     end
                  %>

                  <span><i class="<%= status %>" data-id="<%= hardcode_seat_id %>" data-seat-name="<%= seat_no %>" data-seat-price="<%= price %>" data-row-id="<%= row %>" data-column-id="<%= col %>" data-remark=""></i></span>

                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <%= content_tag :div, id: "check_seats", data: {
        check_seats: params[:seat_ids]
      } do %>
      <% end %>

      <%= hidden_field_tag 'show_id', @show.id %>
      <%= hidden_field_tag 'show_name', @show.name %>
      <%= hidden_field_tag 'area_id', @area.id %>
      <%= hidden_field_tag 'area_name', @area.name %>
    </div>
  </body>
</html>
