<%# encoding: utf-8 %>

<!DOCTYPE html>
<html>
  <head>
    <title>Hoishow</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content='True' name='HandheldFriendly' />
    <%= stylesheet_link_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <%= yield :other_js %>
    <%= yield :other_css %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="content text-center">
      <div class="front">
        <h4>舞台</h4>
        <div class="nav-seat">
          <span><i class="avaliable"></i>可选</span>
          <span><i class="locked"></i>锁定</span>
          <span><i class="checked"></i>已选</span>
        </div>
      </div>
      <div class="seats_box">
        <ul class="list-unstyled">
          <% @seats_info['rows'].each_with_index do |row, idx| %>
            <span class="row-bar pull-left"><%= idx + 1 %></span>
            <li>
              <% row.each do |seat| %>
                <span><i class="<%= seat['seat_status'] %>"></i></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>