<%# encoding: utf-8 %>

<% show.areas.each do |area| %>
  <% sold_tickets_count = show.tickets.where(area_id: area.id).sold_tickets.count %>
  <% relation = ShowAreaRelation.where(show_id: show.id, area_id: area.id).first %>
  <tr>
    <% if show.selected? %>
      <td class="area_name_<%= area.id %>"><%= text_field_tag "area_name", area.name, class: 'form-control' %></td>
      <td class="price_<%= area.id %>"><%= text_field_tag "area_price", relation.try(:price), class: 'form-control' %></td>
      <td class="seats_count_<%= area.id %>"><%= text_field_tag "area_seats_count", relation.try(:seats_count), class: 'form-control' %></td>
    <% elsif show.selectable? %>
      <td><%= area.name %></td>
      <td><%= relation.try(:seats_count) %></td>
    <% end %>
    <td class="text-center sold_tickets_<%= area.id %>"><%= sold_tickets_count %></td>
    <% if show.selected? %>
      <td data-id="<%= area.id %>">
        <%= link_to "修改", 'javascript:void(0);', class: 'change_show_area_data btn btn-default' %>
        <%= link_to "删除", 'javascript:void(0);', class: 'del_area btn btn-danger' %>
      </td>
    <% elsif show.selectable? %>
      <td><%= link_to "设置选座", seats_info_operation_show_path(show, area_id: area.id) %></td>
    <% end %>
  </tr>
<% end %>