<table class="table table-hover shows">
  <thead>
    <tr>
      <th>演出艺人</th>
      <th>演出名称</th>
      <th>是否显示</th>
      <th>票的类型</th>
      <th>演出地点</th>
      <th>演出时间</th>
      <th>售出票数／总票数</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% shows.each do|show| %>
      <% tickets = show.tickets %>
      <tr>
        <td><%= show.stars.pluck(:name).join(",") %></td>
        <td><%= show.name %></td>
        <td><%= show.is_display_cn %></td>
        <td><%= show.ticket_type_cn %></td>
        <td><%= show.stadium.try(:name) %></td>
        <td><%= show.show_time.strfcn_time %></td>
        <td><%= tickets.sold_tickets_count %> / <%= show.total_seats_count %></td>
        <td>
          <%= link_to "查看", operation_show_path(show)%>
          <% if can? :update, show%>
            <%= link_to "编辑", edit_operation_show_path(show)%>
            <%= link_to "图文描述", description_path(subject_type: "Show", subject_id: show.id), target: "blank" %>
          <% end %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>

