<div class="nav">
  <h1><%= @show.name %> - 场次管理</h1>
  <%= link_to '增加场次', '##', class: 'btn btn-default', data: {toggle: 'modal', target: '.addEventModal'} %>
</div>
<div class="event_list">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>是否显示</th>
        <th>描述时间</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.id %></td>
          <td><%= event.is_display ? "显示" : "隐藏" %></td>
          <td><%= event.description_time %></td>
          <td><%= get_datetime event.show_time %></td>
          <td><%= get_datetime event.end_time %></td>
          <td>
            <%= link_to '详情', event_detail_operation_show_url(@show, event_id: event.id) %>
            <%= link_to (event.is_display ? '隐藏' : '显示'), toggle_event_is_display_operation_show_url(@show, event_id: event.id), method: "post" %>
            <%= link_to '删除', del_event_operation_show_url(@show, event_id: event.id), method: "delete", data: {confirm: "确定删除吗？"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- 增加场次 -->
<div class="modal fade addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= simple_form_for @events.new, url: add_event_operation_show_path(@show) do |f| %>
          <%= f.input :is_multi_day, label: '是否多日套票' %>
          <%= f.input :is_display, label: '是否显示' %>
          <%= f.input :show_time, as: :string, label: '开始时间' %>
          <%= f.input :end_time, as: :string, label: '结束时间' %>
          <%= submit_tag '提交', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag 'show_id', @show.id %>
