<%# encoding: utf-8 %>

<div class="nav new_show">
  <h2>新建演出</h2>
  <h4>投票名称: <%= @concert.name %></h4>
  <%= simple_form_for [:operation, @show], html: {class: 'show-form'} do |f| %>
    <%= f.input :is_display, label: "是否显示" %>
    <%= f.input :name, label: "演出名称" %>
    <%= f.input :show_time, label: "演出日期", as: :datetimepicker %>
    <%= f.input :status, collection:[["开放购票中", "selling"], ["购票结束", "sell_stop"], ["即将开放", "going_to_open"]], selected: "开放购票中", label: 'show购票状态' %>
    <%= f.input :description_time, label: "描述时间(当购票状态为即将开放时用这时间)" %>
    <%= f.input :poster, label: "演出海报" %>
    <%= f.input :ticket_pic, label: "门票图片" %>
    <%= f.input :ticket_type, collection:[["电子票", "e_ticket"], ["实体票", "r_ticket"]], selected: "电子票", as: :radio_buttons, label: "取票方式" %>
    <%= f.kindeditor :description %>
    <% if @concert.cities.empty? %>
      <%= f.input :city_id, collection: City.all, input_html: {id: "show_city_select"}, label: '城市' %>
    <% else %>
      <%= f.association :city, label_method: :name, value_method: :id, input_html: {id: "show_city_select"} %>
    <% end %>
    <%= f.input :stadium_id, required: false, as: :select, input_html: {id: "show_stadium_select"}, label: '场馆' %>
    <%= f.input :stadium_map, label: '场馆地图' %>
    <%= f.input :seat_type, collection:[["只能选区", "selectable"], ["可以选座", "selected"]], selected: "只能选区", label: '选座设置' %>
    <%= f.hidden_field :concert_id, value: @concert.id %>
    <%= f.button :submit, "保存" class: 'btn btn-primary' %>
  <% end %>
  <img id="stadium_pic"  class="preview-pic">
</div>

