<div class="nav seats-info text-center">
  <div class="header">
    <h3>
      区域名称: <%= text_field_tag "area_name", @area.name %>
    </h3>
    <div class="box-size">
      大小: <%= text_field_tag "row_size", @seats.maximum('row') %>行<%= text_field_tag "column_size", @seats.maximum('column') %>列
      <%= link_to "确定", "javascript:void(0)", class: 'btn btn-default set_box' %>
    </div>
  </div>
  <div class="nav-control">
    <%= link_to '设为可选', 'javascript:void(0);', class: 'set_avaliable btn' %>
    <%= link_to '设为不可选', 'javascript:void(0);', class: 'set_locked btn' %>
    <%= link_to '设为空白', 'javascript:void(0);', class: 'set_unused btn' %>
    <%= link_to '设置座位号', 'javascript:void(0);', class: 'set_seat_no btn btn-primary' %>
    <%= link_to '设置价格', 'javascript:void(0);', class: 'set_price btn btn-primary' %>
    <%= select_tag "area_sort_by", options_for_select([['从左往右', 'asc'], ['从右往左', 'desc']], @area.sort_by) %>
  </div>
  <div class="seats-box">
    <div class="front"><h4>舞台</h4></div>
    <ul class="list-unstyled seats">
      <% if @seats.any? %>
        <% @seats.maximum('row').times.each do |row| %>
          <li class="row_<%= row + 1 %>">
            <% @seats.where(row: row + 1).each do |seat| %>
              <span title="座位号: <%= seat.name %> 价格: <%= seat.price %>元" class="seat <%= seat.status %>" data-row-id="<%= seat.row %>" data-column-id="<%= seat.column %>" data-seat-no="" data-status="<%= seat.status %>" data-seat-price="<%= seat.price %>"></span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= link_to "提交", "javascript:void(0);", class: 'btn btn-primary submit_seats' %>
  <%= hidden_field_tag "show_id", @show.id %>
  <%= hidden_field_tag 'area_id', @area.id %>
</div>

<div id="cache_seats"></div>