<div class="nav seats-info text-center">
  <div class="header">
    <h3>
      区域名称: <%= text_field_tag "area_name", @area.name %>
    </h3>
    <div class="box-size">
      <b>大小</b>: <%= text_field_tag "row_size", @max_row %>排<%= text_field_tag "column_size", @max_col %>列
      <b>排序</b>: <%= select_tag "area_sort_by", options_for_select([['从左往右', 'asc'], ['从右往左', 'desc']], @sort_by) %>
      <%= link_to "确定", "javascript:void(0)", class: 'btn btn-default set_box' %>
    </div>
  </div>
  <div class="nav-control">
    <%= link_to '全选座位', 'javascript:void(0);', class: 'check_all_seats btn btn-info' %>
    <%= link_to '设为可选', 'javascript:void(0);', class: 'set_avaliable btn' %>
    <%= link_to '设为不可选', 'javascript:void(0);', class: 'set_locked btn' %>
    <%= link_to '设为空白', 'javascript:void(0);', class: 'set_unused btn' %>
    <%= link_to '设置座位号', 'javascript:void(0);', class: 'set_seat_no btn btn-primary' %>
    <%= link_to '设置价格', 'javascript:void(0);', class: 'set_price btn btn-primary' %>
    <%= link_to '设置渠道', 'javascript:void(0);', class: 'set_channel btn btn-primary' if can? :set_channels, current_admin %>
  </div>
  <div class="seats-box">
    <div class="front"><h4>舞台</h4></div>
    <div class="content">
      <ul class="row-bar list-unstyled pull-left">
      <% if @seats.present? && @max_row.present? %>
        <li></li>
        <% @max_row.times.each do |row| %>
          <li><%= row + 1 %></li>
        <% end %>
      <% end %>
      </ul>
      <ul class="list-unstyled seats">
        <% if @seats.present? && @max_row.present? %>
          <li class="column-bar">
            <%= hidden_field_tag 'column_size', @max_col %>
            <% if @sort_by == 'asc' %>
              <% @max_col.times.each do |column| %>
                <span class="column"><%= column + 1 %></span>
              <% end %>
            <% else %>
              <% @max_col.downto(1) do |column| %>
                <span class="column"><%= column %></span>
              <% end %>
            <% end %>
          </li>
          <% 1.upto(@max_row) do |row| %>
            <li class="row_<%= row + 1 %> row_li">
              <% 1.upto(@max_col) do |col| %>
                <% seat = @seats["#{row}|#{col}"] %>
                <span title="座位号: <%= "#{row}排#{col}座" %> 价格: <%= seat['price'] %>元" class="seat <%= seat['status'] %>" data-row-id="<%= row %>" data-column-id="<%= col %>" data-seat-no="<%= "#{row}排#{col}座" %>" data-status="<%= seat['status'] %>" data-seat-price="<%= seat['price'] %>" data-channel-ids="<%= seat['channel'] %>"></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <%= link_to "提交", "javascript:void(0);", class: 'btn btn-primary submit_seats' %>
  <%= hidden_field_tag "show_id", @show.id %>
  <%= hidden_field_tag 'area_id', @area.id %>
</div>

<div id="cache_seats"></div>

<!-- Modal -->
<div class="modal fade" id="setChannelModal" tabindex="-1" role="dialog" aria-labelledby="setChannelModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="setChannelModalLabel">设置渠道</h4>
      </div>
      <div class="modal-body">
        <%= form_tag do %>
          <%= check_box_tag 'check_all' %>
          <%= label_tag 'check_all', '全选' %>
          <%= check_box_tag 'anti_all' %>
          <%= label_tag 'anti_all', '反选' %>
          <div class='channels'>
            <%= check_box_tag 'channel_hoishow', 'hoishow' %>
            <%= label_tag 'channel_hoishow', '自有'%>
            <% @channels.each do |channel| %>
              <%= check_box_tag "channel_#{channel.user}", channel.id %>
              <%= label_tag "channel_#{channel.user}", channel.user %>
            <% end %>
          </div>
          <%= submit_tag '提交', class: 'btn btn-primary submit_channel'%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pop-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <p></p>
    </div>
  </div>
</div>
