<%# encoding: utf-8 %>

<div class="nav">
  <h2>
    演出详情
    <% if can? :update, @show %>
      <small><%= link_to "编辑", edit_operation_show_path(@show) %></small>
    <% end %>
  </h2>
  <h3><%= @show.name %></h3>
  <div class="form-group">
    <%= label_tag(:name, "show购票模式", class: "col-sm-2 control-label")%>
    <div class="col-sm-10">
      <%= label_tag(:name, @show.mode_cn, class: "form-control-static")%>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag(:name, "show购票状态", class: "col-sm-2 control-label")%>
    <div class="col-sm-10">
      <%= label_tag(:name, @show.status_cn, class: "form-control-static")%>
    </div>
  </div>
  <div>
    <p>
    <% if @show.voted_users? %>
      <%= link_to "开放所有关注过演出的用户购买", update_mode_operation_show_path(@show, mode: 1), method: "post", data: {confirm: "确定开放所有用户购买吗？点击确定后会给所有关注过演出的用户发送消息推送"}, class: "btn btn-success" %>
    <% end %>
    </p>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>演出时间</td>
        <td><%= @show.show_time.try(:strfcn_time)%></td>
      </tr>
      <tr>
        <td>演出城市</td>
        <td><%= @show.city.try(:name)%></td>
      </tr>
      <tr>
        <td>演出场馆</td>
        <td><%= @show.stadium.try(:name) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#shows_show_orders" aria-controls="shows_show_orders" role="tab" data-toggle="tab">票务</a></li>
    <li role="presentation"><a href="#shows_show_topics" aria-controls="shows_show_topics" role="tab" data-toggle="tab">互动</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="shows_show_orders">
      <div id="pie_cake" >
        <% @show.areas.each do |area| %>
          <% tickets = @show.tickets.where(area_id: area.id) %>
          <div class="pull-left" total_tickets=<%= @show.area_seats_count(area) %> sold_count=<%= tickets.sold_tickets_count %> left_count= <%= @show.area_seats_left(area) %> id=<%= area.name %> style="height:300px; width:300px"></div>
        <% end %>
      </div>
      <div class="orders_list">
      <%= render partial: 'operation/orders/table', locals: {orders: @show.orders.page.order("created_at desc")} %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane topics_list show_show_topics_list" id="shows_show_topics">
      <%= render partial: 'operation/topics/table', locals: {topics: @show.topics.page, stars: @show.stars} %>
    </div>

  </div>
</div>
