<div class="nav">
  <div> 
    <h1 class="pull-left">show详情</h1>
  </div>
  <div>
    <h3><%= @show.name %></h3>
    <p>
    <% if can? :update, @show%>
      <%= link_to "编辑", edit_operation_show_path(@show) %>
    <%end%>
    </p>
    <p><%= link_to "添加到首页幻灯片", "?" %></p>

  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>演出时间</td>
        <td><%= @show.show_time.strfcn_time%></td>
      </tr>
      <tr>
        <td>演出城市</td>
        <td><%= @show.city.name%></td>
      </tr>
      <tr>
        <td>演出场馆</td>
        <td><%= @show.stadium.name %></td>
      </tr>
    </tbody>
  </table>

</div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#shows_show_orders" aria-controls="shows_show_orders" role="tab" data-toggle="tab">票务</a></li>
    <li role="presentation"><a href="#shows_show_topics" aria-controls="shows_show_topics" role="tab" data-toggle="tab">互动</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="shows_show_orders">
      <% @orders = @show.orders %>

      <div id="pie_cake" >
        <% @show.areas.each do |area| %>
          <% tickets = @show.tickets.where(area_id: area.id) %>
          <% sold_tickets_count = tickets.sold_tickets.count %>
          <div class="pull-left" area_name=<%= area.name%> sold_count=<%= rand(1..55).to_s %> left_count= <%= rand(1..55).to_s %> id=<%= area.name %> style="height:200px; width:300px"></div>
        <%end%>
      </div>
      <%= render partial: 'operation/orders/table', locals: {orders: @orders} %>
    </div>

    <div role="tabpanel" class="tab-pane" id="shows_show_topics">
      <% @topics= @show.topics %>
      <%= render partial: 'operation/topics/table', locals: {topics: @topics} %>
    </div>

  </div>
</div>
