<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= flash[:notice] %>
  </div>
<% end %>

<%= simple_form_for([:operation, star ], html: { class: 'form-horizontal', multipart: :true }) do |f| %>
  <div class="form-group">
    <%= f.input :is_display, label: "是否显示" %>
  </div>

  <div class="form-group">
    <%= f.input :name, label: "艺人名称" %>
  </div>

  <div class="form-group">
    <%= f.input :avatar, label: "艺人头像" %>
    <%= image_tag(star.avatar_url, size: "80x80") if star.avatar_url %>
  </div>

  <div class="form-group">
    <%= f.input :poster, label: "艺人海报" %>
    <%= image_tag(star.poster_url, size: "700x500") if star.poster_url %>
  </div>

  <div class="form-group">
    <%= fields_for :videos do |video| %>
      <%= video.label :source, "艺人视频" %>
      <%= video.file_field :source, multiple: :true, name: "videos[source][]" %>
     <% end %>
  </div>
  
  <% if @star.videos.first %>
    <%= render partial: 'operation/videos/table', locals: { videos: @videos } %> 
  <% end %>

    <div class="form-group">
      <%= f.button :submit %>
    </div>
<% end %>
