<table class="table table-bordered">
  <caption><h1>艺人列表</h1></caption>
  <thead>
    <tr>
      <th>艺人名称</th>
      <th>演出状态</th>
      <th>总投票数量</th>
      <th>粉丝数</th>
      <th>操作</th>
      <th>排序</th>
    </tr>
  </thead>
  <tbody>
    <% @stars.each do|star|%>
      <tr>
        <td><%= star.name %></td>
        <td><%= nil %></td>
        <td><%= star.concerts.map{|relation| relation.voters_count}.inject(&:+) %></td>
        <td><%= star.followers_count %></td>
        <td>
          <%= link_to "查看详情", edit_operation_star_path(star)%> 
        </td>
        <td><%= nil %></td>
      </tr>
    <%end%>
  </tbody>
</table>
