<div class="nav">
  <h1 class="pull-left">艺人列表</h1>
  <div class="search">
    <%= form_tag(operation_stars_url, method: "get", class: 'navbar-form') do %>
      <div class="form-group">
        <%= select_tag "status_select", options_for_select(%w(开售中 投票中 无演出 全部), "全部"), class: 'form-control' %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "新增艺人", new_operation_star_url, class: 'btn btn-primary' %>

<div class="stars_list">
  <table class="table table-hover" id="stars">
  <thead>
    <tr>
      <th>艺人头像</th>
      <th>艺人名称</th>
      <th>演出状态</th>
      <th>总投票数量</th>
      <th>粉丝数</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody id="stars_list"  data-update-url="<%= sort_operation_stars_url %>">
    <% @stars.each do|star|%>
      <%= content_tag_for :tr, star, remote: true do %>
        <td><%= star.avatar %></td>
        <td>
          <span class="handle">[拉我排序] </span><%= star.name %>
        </td>
        <td class="status_cn"><%= star.status_cn %></td>
        <td><%= star.vote_count %></td>
        <td><%= star.followers_count %></td>
        <td>
          <%= link_to "查看详情", operation_star_path(star)%>
        </td>
      <%end%>
    <%end%>
  </tbody>
</table>
</div>
