# encoding: utf-8
<div role="tabpanel">
  <%= link_to "编辑资料", edit_operation_star_path, class: 'btn btn-default' %>
  <%= link_to "发布新互动", 'javascript:void(0)', class: 'btn btn-default add_topic' %>
  <%= link_to "发布新演出", new_operation_concert_path(star_id: @star.id), class: 'btn btn-default' %>

  <h1><%= @star.name %></h1>
  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#star_concerts" aria-controls="star_concerts" role="tab" data-toggle="tab">演出活动</a></li>
    <li role="presentation"><a href="#star_topics" aria-controls="star_topics" role="tab" data-toggle="tab">互动topic</a></li>
    <li role="presentation"><a href="#star_shows" aria-controls="star_shows" role="tab" data-toggle="tab">粉丝（<%= @star.followers.count || 0 %>）个</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active concerts_list" id="star_concerts">
      <%= render partial: 'operation/concerts/table', locals: {concerts: @concerts} %>
    </div>

    <div role="tabpanel" class="tab-pane topics_list" id="star_topics">
        <%= render partial: 'operation/topics/table', locals: {topics: @topics} %>
    </div>
    <div role="tabpanel" class="tab-pane users_list" id="star_followers">
      <%= render partial: 'operation/users/table', locals: {users: @users} %>
    </div>
  </div>

</div>

<div class="modal fade" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="topicModalLabel">发布新互动</h4>
      </div>
      <div class="modal-body">
        <%= form_tag do %>
          <div class="form-group">
             <%= text_area_tag "topic_content", nil, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag "topic_creator", "创建人" %>
            <%= select_tag "topic_creator", options_for_select([[@star.name, @star.id], [current_admin.name]]) %>
          </div>
          <%= hidden_field_tag "star_id", @star.id %>
          <%= submit_tag "提交", class: 'btn btn-primary create_topic' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

