<div class="row">
  <%= label_tag 'comments_count', '评论数：' + @comments.total_count.to_s %> 
</div>

<div class="row">
  <table class="table table-hover comments_list">
    <thead>
      <tr>
        <th>用户名</th>
        <th>内容</th>
        <th>评论时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    <% if comments.any? %>
      <% comments.each do |comment| %>
        <tr>
          <td><%= comment.creator.name %></td>
          <td style="width: 30%"><%= truncate(comment.content, length: 150) %></td>
          <td><%= comment.created_at.strfcn_time %></td>
          <td>
            <% if comment.is_hidden? %>
              已屏蔽
            <% else %>
              <%= link_to "屏蔽", hide_boombox_operation_boom_comment_path(comment), method: :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td>无数据</td></tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate comments, param_name: 'comments_page' %>
</div>
