<table class="table" id="topics">
  <thead>
    <tr>
      <th>发布用户</th>
      <th>内容</th>
      <th>赞/回复/查看数</th>
      <th>发布时间</th>
      <th>最后回复时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <% topics.each do |topic| %>
    <tr>
      <td><%= topic.creator_name %></td>
      <td><%= topic.content %></td>
      <td><%= topic.like_count %>/<%= topic.comments.count %>/<%= 0 %></td>
      <td><%= get_datetime(topic.created_at) %></td>
      <td><%= get_datetime(topic.last_reply_time) %></td>
      <td>
        <% if topic.is_top %>
          <%= link_to '取消置顶', set_topic_top_operation_topic_path(topic, is_top: 0, city_id: topic.city_id), method: :post, remote: true %>
        <% else %>
          <%= link_to '置顶', set_topic_top_operation_topic_path(topic, is_top: 1, city_id: topic.city_id), method: :post , remote: true %>
        <% end %>
        <%= link_to '回复', "javascript:void(0)" %>
      </td>
    </tr>
  <% end %>
</table>
