<table class="table" id="topics">
  <thead>
    <tr>
      <th>发布用户</th>
      <th>内容</th>
      <th>赞/回复/查看数</th>
      <th>发布时间</th>
      <th>最后回复时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <% topics.each do |topic| %>
    <tr>
      <td><%= topic.creator_name %></td>
      <td><%= topic.content %></td>
      <td><%= topic.like_count %>/<%= topic.comments.count %>/<%= 0 %></td>
      <td><%= get_datetime(topic.created_at) %></td>
      <td><%= get_datetime(topic.updated_at) %></td>
      <td>
        <% if !topic.is_top %>
          <%= link_to '置顶', top_topic_operation_star_path(@star), remote: true, id: 'top_topic' %>
        <% else %>
          <%= link_to '取消置顶', no_top_topic_operation_star_path(@star), remote: true, id: 'no_top_topic' %>
        <% end %>
        <%= link_to '回复', topic_comments_operation_star_path(@star) %>
      </td>
    </tr>
  <% end %>
</table>
