<table class="table">
  <thead>
    <tr>
      <th>发布用户</th>
      <th>内容</th>
      <th>赞/回复/查看数</th>
      <th>发布时间</th>
      <th>最后回复时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <% topics.each do |topic| %>
    <tr>
      <td><%= %></td>
      <td><%= topic.content %></td>
      <td><%= %></td>
      <td><%= get_datetime(topic.created_at) %></td>
      <td><%= get_datetime(topic.updated_at) %></td>
      <td></td>
    </tr>
  <% end %>
</table>

<%= paginate topics, :remote => true %>