<div class="nav">
  <h2>发布互动</h2>
  <%= form_tag operation_topics_path, class: 'form-horizontal' do %>
    <div class="form-group">
      <%= text_area_tag "topic[content]", nil, rows: 10, cols: 50, placeholder: '互动正文内容(最多140字)' %>
    </div>
    <div class="form-group">
      <%= label_tag :creator, "发布人" %>
      <%= select_tag :creator, options_for_select([current_admin.name] + @stars.collect{|star| [star.name, star.id]}) %>
    </div>
    <div class="form-group">
      <% if @concert %>
        <%= hidden_field_tag "topic[subject_id]", @concert.id %>
        <%= hidden_field_tag "topic[subject_type]", Topic::SUBJECT_CONCERT %>
        <%= hidden_field_tag "topic[city_id]", @city_id %>
        <%= hidden_field_tag "return_url", edit_operation_concert_path(@concert) %>
      <% elsif @stars %>
        <%= hidden_field_tag "topic[subject_id]", @stars.first.id %>
        <%= hidden_field_tag "topic[subject_type]", Topic::SUBJECT_STAR %>
        <%= hidden_field_tag "return_url", edit_operation_star_path(@star) %>
      <% end %>
      <%= submit_tag "提交", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>