<div class="search">
  <%= render partial: "boombox/operation/search_form", locals: {form_path: boombox_operation_boom_topics_path} %>
</div>

<table class="table table-hover boom_topics_list">
  <thead>
    <tr>
      <th>内容</th>
      <th>点赞</th>
      <th>评论</th>
      <th>创建时间</th>
      <th>最后评论时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <% if @boom_topics.any? %>
    <% @boom_topics.each do |boom_topic| %>
      <tr>
        <td style="width: 30%"><%= truncate(boom_topic.content, length: 150) %></td>
        <td><%= boom_topic.likes_count %></td>
        <td><%= boom_topic.comments_count %></td>
        <td><%= boom_topic.created_at.strfcn_time %></td>
        <td><%= boom_topic.last_reply_time.strfcn_time %></td>
        <td>
          <% if boom_topic.is_top? %>
            已置顶
          <% else %>
            <%= link_to "置顶", set_top_boombox_operation_boom_topic_path(boom_topic), method: :post %>
          <% end %>
          <%= link_to "查看详情", boombox_operation_boom_topic_path(boom_topic)%>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr><td>无数据</td></tr>
  <% end %>
  </tbody>
</table>

<%= paginate @boom_topics %>
