
  <div class="row">
    <div class="col-md-4">
      <%= simple_form_for [:operation, data], :url => url do |f| %>
        <%= f.input :common_key, label: '参数名' %>
        <%= f.input :common_value, label: '参数值' %>
        <%= f.input :remark, label: '备注' %>
        <%= f.submit '提交', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
