<div class="row boom-albums-list">
  <h3>艺人相册</h3>
  <%= simple_form_for([:boombox, :dj, @boom_album], html: { class: 'dropzone upload-boom-album', id: 'image-dz-form', multipart: :true }) do |f| %> 
    <%= f.hidden_field :collaborator_id, value: current_collaborator.id %>
  <% end %>

  <div class="gallery col-md-12">
  <% if @boom_albums.any? %>
    <% @boom_albums.each do |boom_album| %>
      <% if boom_album.is_cover? %>
        <a href="#imageModal<%= boom_album.id %>" role="button" class="btn btn-default image-is-cover" data-toggle="modal">
          <img src=<%= boom_album.image %> class="thumb"></img>
          <figure>当前封面</figure>
        </a>
      <% else %>
        <a href="#imageModal<%= boom_album.id %>" role="button" class="btn btn-default image" data-toggle="modal">
          <img src=<%= boom_album.image %> class="thumb"></img>
        </a>
      <% end %>
    <% end %>
    <p><%= paginate @boom_albums %></p>
  <% else %>
    <figure>没有相片</figure>
  <% end %>
  </div>
</div>

<% if @boom_albums.any? %>
  <% @boom_albums.each do |boom_album| %>
    <div class="modal fade image-original" id="imageModal<%= boom_album.id %>" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src=<%= boom_album.image %> style="width: 100%">
            <figcaption>
              <% if boom_album.is_cover? %>
                <%= link_to "取消封面", toggle_cover_boombox_dj_boom_album_path(boom_album), method: :post, class: 'btn btn-default' %>
              <% else %>
                <%= link_to "设置封面", toggle_cover_boombox_dj_boom_album_path(boom_album), method: :post, class: 'btn btn-warning' %>
              <% end %>
              <%= link_to "删除", boombox_dj_boom_album_path(boom_album), method: :delete, data: {confirm: '确定吗？'}, class: 'btn btn-danger' %>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
