
  <%= form_for [:operation, stadium], class: 'form-horizontal' do |f| %>
    <div class="form-group">
      <%= f.label :name, '场馆名' %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :address, '场馆地址' %>
      <%= f.text_field :address %>
    </div>
    <div class="form-group">
      <label>场馆坐标</label>
      <%= f.label :longitude, '经度' %>
      <%= f.text_field :longitude %>
      <%= f.label :latitude, '纬度' %>
      <%= f.text_field :latitude %>
    </div>
    <div id="map"></div>
    <div class="form-group">
      <p><%= f.label :pic, "场馆平面图" %>
      <%= f.file_field :pic %></p>
      <%= image_tag(@stadium.pic_url, class: 'stadium-pic') if @stadium.pic_url %>
      <%= f.hidden_field :pic_cache %>
    </div>
    <%= f.hidden_field :city_id, value: city.id %>
    <div class="form-group">
      <%= f.submit "提交", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= hidden_field_tag 'city_name', city.name %>

  <% if @stadium.id %>
    <div>
      <h1>区域设置</h1>
      <%= link_to '增加区域', 'javascript:void(0);', class: 'btn btn-default btn-xs add_area' %>
      <div class="areas">
        <%= render partial: 'operation/areas/stadium_areas_table', locals: {stadium: @stadium, areas: @stadium.areas} %>
      </div>
    </div>
  <% end %>

  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=798886ba701989c1cbcf271aaa944ccc"></script>

  <script type="text/javascript">
  function initMap(){
    var longitude = $("#stadium_longitude").val();
    var latitude = $("#stadium_latitude").val();

    var map = new AMap.Map('map');
    var marker, position, center;
    if(longitude || latitude){
      center = new AMap.LngLat(longitude, latitude)
      map.setZoomAndCenter(14, center)
    }
    else{
      map.setCity($("#city_name").val())
    }

    map.plugin(["AMap.ToolBar"],function(){
      toolBar = new AMap.ToolBar();
      map.addControl(toolBar);
    });

    function addMarker(){
      if(!center) center = map.getCenter()

      marker = new AMap.Marker({
        position: center,
        draggable: true //点标记可拖拽
      });
      marker.setMap(map)
    }

    function getMarkerPosition(){
      AMap.event.addListener(marker,'dragend',function(){
        position = marker.getPosition()
        $("#stadium_longitude").val(position.lng)
        $("#stadium_latitude").val(position.lat)
      });
    }

    AMap.event.addListener(map,'complete',function(){
      map.setZoom(14)
      addMarker()
      getMarkerPosition()
    });
  }

  initMap()
  </script>