<%# encoding: utf-8 %>

<div class="dj_home">
  <div class="row" style="text-align: center;">
    <p>
      <div id="home_avatar">
        <%= boombox_default_avatar current_collaborator.avatar_url %>
      </div>
    </p>
    <p><%= current_collaborator.nickname %></p>
  </div>

  <div class="row">
    <table class="table table-hover" style="text-align: center;">
      <tbody>
        <tr>
          <td class="col-md-4">粉丝<span class="label label-warning"><%= current_collaborator.followed_count %></span></td>
          <td class="col-md-4">个人音乐<span class="label label-warning"><%= current_collaborator.boom_tracks.count %></span></td>
          <td class="col-md-4">个人Playlist<span class="label label-warning"><%= current_collaborator.boom_playlists.count %></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
