<%# encoding: utf-8 %>

<table class="table table-hover messages">
  <thead>
    <tr>
      <th>消息类别</th>
      <th>推送用户</th>
      <th>通知栏内容</th>
      <th>消息标题</th>
      <th>消息内容</th>
      <th>推送发送数</th>
      <th>发送时间</th>
      <th>跳转目的地</th>
      <th>查询id</th>
    </tr>
  </thead>
  <tbody>
    <% messages.each do|message| %>
      <tr>
        <td><%= message.send_type_cn %></td>
        <td><%= message.creator_type_cn %></td>
        <td><%= message.notification_text %></td>
        <td><%= message.title %></td>
        <td><%= message.content %></td>
        <td><%= message.users.count%></td>
        <td><%= message.created_at.strfcn_time %></td>
        <td><%= message.subject_show_name %></td>
        <td><%= message.task_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate messages %>
