<%# encoding: utf-8 %>
<legend class="boom-top-topic"><%= link_to "Playlist列表", boombox_dj_playlists_path %>/<%= params[:action] == "new" ? "新建Playlist" : "编辑Playlist"%></legend>
<div class="nav">
  <div class="text-center">
    <% if params[:action] == 'new' %>
      <% form_url = "/boombox/dj/playlists" %>
      <% form_method = "POST" %>
      <h3>新建Playlist</h3>
    <% elsif params[:action] == 'edit' %>
      <% form_url = "/boombox/dj/playlists/#{playlist.id}" %>
      <% form_method = "PATCH" %>
      <h3>编辑Playlist</h3>
    <% end %>
  </div>
  <div id="playlist_form" class="col-md-10 col-md-offset-1">
    <%= hidden_field_tag "playlist_tag_ids", playlist.boom_tags.pluck(:id) %>
    <%= simple_form_for( playlist, url: form_url, method: form_method, html: { multipart: :true }) do |f| %>
      <div class="row">
        <div class="col-md-7 col-lg-6">
          <div class="text-center">
            <div id="playlist_cover_preview">
              <%= boombox_default_avatar playlist.cover_url %>
            </div>
            <%= f.input :cover, label: "上传封面(建议大小:500x500)", input_html: {class: "playlist-cover-uploader col-sm-offset-4"} %>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-1 col-lg-5">
          <div class="playlist_info">
            <%= f.input :name, label: "(必填)标题", placeholder: "请输入标题名字" %>

            <%= label_tag "tags", "标签" %>
            <%= hidden_field_tag "tag_ids", params[:boom_tag_ids], id: 'boom_tag_ids' %>
            <div id="playlist_delete_tag">
              <% tags = playlist.boom_tags.pluck(:name, :id) %>
              <% tags.each do |playlist_tag| %>
                <span class="btn btn-default"><%= playlist_tag[0] + "" %></span><button data-tag-id="<%= playlist_tag[1] %>" class="btn btn-danger remove_tag">删除</button>
              <% end %>
            </div>
            <div>
              <%= select_tag "select_tags", options_for_select(BoomTag.valid_tags.collect{|boom_tag| [boom_tag.name, boom_tag.id]}), id: "playlist_tag_list" %>
              <a class="btn btn-primary" id="playlist_add_tag">添加选中标签</a>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <%= submit_tag "保存", class: "btn btn-primary", id: "playlist-submit", data: { disable_with: "loading" } %>
      </div>
    <% end %>
  </div>
</div>
