<%# encoding: utf-8 %>

<div class="search">
  <%= form_tag(form_path, class: 'form-inline', method: 'get') do |f| %>
    <div class="datetimepicker form-group">
      <label> 创建时间</label>
      <%= text_field_tag "start_time", (Time.now - 1.month).strftime("%Y-%m-%d %H:%M"),  class: 'form-control', placeholder: "起始时间", size:30 %>
      <label> 至</label>
      <%= text_field_tag "end_time", Time.now.strftime("%Y-%m-%d %H:%M"),  class: 'form-control', placeholder: "结束时间", size:30 %>
    </div>
    <%= text_field_tag "q", nil,  class: 'form-control', placeholder: "输入关键词进行搜索", size:30%>
    <%= submit_tag "搜索", class: 'btn btn-default' %>
  <% end %>
</div>
