      <div id="map"></div>
      <div id="map_data">
        <div class="nav">
          <a data-toggle="modal" data-target="#myModal">添加投票城市</a>
          <%= link_to "发布演出", new_operation_show_path(concert_id: concert.id) %>
        </div>
        <div class="map-table">
          <table class="table">
            <thead>
              <tr>
                <th>城市</th>
                <th>投票数</th>
                <th>操作</th>
              </tr>
            </thead>
            <% concert.cities.each do |city| %>
              <tr>
                <td><%= city.name %></td>
                <td><%= get_city_voted_count(concert, city) %></td>
                <td data-count="<%= get_city_voted_count(concert, city) %>" data-id="<%= city.id %>">
                  <%= link_to '查看互动', 'javascript:void(0)', class: 'get_topics' %>
                  <%= link_to '删除', 'javascript:void(0);', class: "del_city" %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div id="city_topics">
        <h2>互动列表</h2>
        <%= link_to "发布新互动", "javascript:void(0);", class: "add_topic" %>
        <div class="topics">
          <%= render partial: 'operation/topics/table', locals: {topics: concert.topics}%>
        </div>
      </div>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">新增投票城市</h4>
            </div>
            <div class="modal-body">
              <%= form_tag do %>
                <div class="form-group">
                  <%= text_field_tag 'city_name', nil, class: 'form-control', placeholder: '请输入城市名称' %>
                  <%= hidden_field_tag "city_id" %>
                </div>
                <%= submit_tag "提交", class: 'btn btn-primary add_city' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="topicModalLabel">发布新互动</h4>
            </div>
            <div class="modal-body">
              <%= form_tag do %>
                <div class="form-group">
                   <%= text_area_tag "topic_content", nil, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= label_tag "topic_creator", "创建人" %>
                  <%= select_tag "topic_creator", options_for_select([current_admin.name]) %>
                </div>
                <%= submit_tag "提交", class: 'btn btn-primary create_topic' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
