<%# encoding: utf-8 %>
<%if params[:action] == 'edit'%>
<div>
  <%= label_tag "star", "参演艺人" %>
  <div id="delete_star">
    <% stars = concert.stars.pluck(:name, :id)%>
    <% stars.each do |star| %>
      <span class="btn btn-default"><%= star[0] + " "%></span><button data-star-id="<%= star[1] %>" class="btn btn-info remove_star" data-confirm="确定删除此艺人吗？">删除</button>
    <%end%>
  </div>
  <div>
    <div class="form-group">
      <%= select_tag "select_star", options_for_select(Star.all.collect{|star| [star.name, star.id]}, ([star.name, star.id] if params[:action] == 'new')) , class: "form-control chooselist" %>
      <a class="btn btn-success" id="add_star">添加选中艺人</a>
    </div>
  </div>
</div>
<%end%>

<%= simple_form_for [:operation, concert ] do |f| %>
  <%= f.input :name, required: false, label: "投票名称" %>
  <%= f.input :description_time, label: "投票时间描述" %>
  <%= f.input :status, label: "投票状态", as: :select, default: ( params[:action] == 'edit' ? concert.status_cn : "投票中" ), collection: [["投票中", "voting"], ["投票完结", "finished"]] %>
  <%= f.input :is_show, label: "显示状态", as: :select, default: ( params[:action] == 'edit' ? concert.is_show_cn : "显示中" ), collection: [["显示中", "showing"], ["隐藏中", "hidden"]] %>
  <div class="form-group">
    <% if concert.poster_url %>
      <%= label_tag "当前海报" %>
      <%= image_tag(concert.poster_url, size: "700x500") %>
    <% end %>
  </div>
  <%= f.input :poster, label: "上传演出海报" %>
  <%= hidden_field_tag "star_id",  params[:star_id] %>
  <%= f.kindeditor :description %>
  <%= f.button :submit, "确认更新",class: 'marginspace' %>
<%end%>

