<%# encoding: utf-8 %>

<table class="table table-hover concerts">
  <thead>
    <tr>
      <th>演出艺人</th>
      <th>演出</th>
      <th>投票状态</th>
      <th>显示状态</th>
      <th>投票时间范围</th>
      <th>Show数量</th>
      <th>投票数量</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% concerts.each do|concert|%>
      <tr>
        <td><%= concert.stars.pluck(:name).join(",") %></td>
        <td><%= concert.name %></td>
        <td class="concert_status_cn"><%= concert.status_cn %></td>
        <td><%= concert.is_show_cn %></td>
        <td><%= concert.votedate_cn %></td>
        <td><%= concert.shows.count %></td>
        <td><%= concert.voters_count %></td>
        <td>
          <% if can? :update, concert %>
            <%= link_to "编辑", edit_operation_concert_path(concert)%>
            <%= link_to "图文描述", description_path(subject_type: "Concert", subject_id: concert.id), target: "blank" %>
            <%= link_to (concert.is_top ? "取消置顶" : "置顶"), toggle_is_top_operation_concert_path(concert), method: 'PATCH' %>
          <% end %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= paginate concerts %>
