<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#concert_detail" aria-controls="concert_detail" role="tab" data-toggle="tab">Concert详情</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#concert_shows" aria-controls="concert_shows" role="tab" data-toggle="tab">concert_shows</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="concert_detail">
      <%= render partial: "form", locals: {concert: @concert} %>
    </div>

    <div role="tabpanel" class="tab-pane" id="profile"><h1>Profile</h1></div>

    <div role="tabpanel" class="tab-pane" id="concert_shows">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>演出名称</th>
            <th>演出地点</th>
            <th>演出时间</th>
            <th>售出票数</th>
            <th>操作</th>
            <th>排序</th>
          </tr>
        </thead>
        <tbody>
          <% @concert.shows.each do|show|%>
            <tr>
              <td><%= show.name %></td>
              <td><%= show.city.name %></td>
              <td><%= show.show_time %></td>
              <td><%= show.tickets.count %></td>
              <td>
                  <%= link_to "查看", operation_show_path(show)%>
                <% if can? :update, show %>
                  <%= link_to "编辑", edit_operation_show_path(show)%>
                <% end %>
              </td>
              <td><%= %></td>
            </tr>
          <%end%>
        </tbody>
      </table>

      

    </div>
  </div>

</div>

