<table id="concerts-table" class="table table-bordered">
  <caption><h1>演出投票列表</h1></caption>
  <thead>
    <tr>
      <th>演出艺人</th>
      <th>演出</th>
      <th>状态</th>
      <th>投票时间范围</th>
      <th>Show数量</th>
      <th>投票数量</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @concerts.each do|concert|%>
      <tr>
        <td><%= concert.stars.pluck(:name).join(",") %></td>
        <td><%= concert.name %></td>
        <td><%= concert.status_cn %></td>
        <td><%= concert.votedate_cn %></td>
        <td><%= concert.shows.count %></td>
        <td><%= concert.voters_count %></td>
        <td>
          <% if can? :update, concert %>
            <%= link_to "编辑", edit_operation_concert_path(concert)%>
          <% end %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
