<%# encoding: utf-8 %>

<table class="table table-hover concerts">
  <thead>
    <tr>
      <th>演出艺人</th>
      <th>投票名称</th>
      <th>投票状态</th>
      <th>显示状态</th>
      <th>投票时间范围</th>
      <th>演出数量</th>
      <th>投票数量</th>
      <th>关注数量</th>
    </tr>
  </thead>
  <tbody>
    <% @concerts.each do|concert|%>
      <tr>
        <td><%= concert.stars.pluck(:name).join(",") %></td>
        <td><%= concert.name %></td>
        <td class="concert_status_cn"><%= concert.status_cn %></td>
        <td><%= concert.is_show_cn %></td>
        <td><%= concert.description_time %></td>
        <td><%= concert.shows.count %></td>
        <td><%= concert.voters_count %></td>
        <td><%= concert.followers_count %></td>
      </tr>
    <%end%>
  </tbody>
</table>
