<%# encoding: utf-8 %>

<table class="table table-hover orders">
  <thead>
    <tr>
      <th>订单号</th>
      <th>演出</th>
      <th>下单平台</th>
      <th>下单来源</th>
      <th>门票类型</th>
      <th>下单时间</th>
      <th>付款时间</th>
      <th>购票数目</th>
      <th>总金额</th>
      <th>手机号</th>
      <th>订单状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do|order| %>
      <% user = order.user %>
      <tr>
        <td><%= order.out_id%></td>
        <td><%= link_to order.show_name, operation_show_path(order.show) %></td>
        <td><%= order.buy_origin %></td>
        <td><%= order.channel %></td>
        <td><%= order.show.try(:ticket_type_cn) %></td>
        <td><%= order.created_at_format %></td>
        <td><%= order.generate_ticket_at_format %></td>
        <td><%= order.tickets_count %></td>
        <td><%= order.amount %></td>
        <td><%= link_to order.get_username(user), operation_user_path(user) %></td>
        <td class="order_status_cn"><%= order.status_cn %></td>
        <td>
          <% if order.need_refund? %>
            <%= link_to '退款', manual_refund_operation_order_path(order), method: :post %> / 
          <% end %>
          <%= link_to "查看详情", operation_order_path(order) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate orders %>
