<table class="table table-hover orders">
  <thead>
    <tr>
      <th>演出</th>
      <th>用户 / 手机号</th>
      <th>座位</th>
      <th>订单时间</th>
      <th>状态</th>
      <th>总价</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do|order| %>
      <tr>
        <% user = order.user %>
        <td><%= link_to order.show_name, operation_show_path(order.show) %></td>
        <td><%= link_to user_name(user), operation_user_path(user) %></td>
        <td>
          <table>
            <% get_areas(order).each do |area| %>
            <% tickets = order.tickets.where(area_id: area.id) %>
              <tr>
                <td><%= area.name.upcase + "区 / " + tickets.count.to_s + "张" %></td>
              </tr>
            <% end %>
          </table>
        </td>
        <td><%= order.created_at.strfcn_date %></td>
        <td class="order_status_cn"><%= order.status_cn %></td>
        <td><%= order.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>