<%# encoding: utf-8 %>

<div class="nav">
    <h1 class="pull-left">订单列表</h1>
    <div class="navbar-form form-group search">
      <%= select_tag "order_status_select", options_for_select(%w(全部 未支付 已支付 已出票 已退款 已过期), "全部"), class: 'form-control' %>
    </div>
</div>
<div class="orders_list">
  <%= render partial: "table", locals: {orders: @orders} %>
</div>
<div class="nav">
    <h1 class="pull-left">实体票快递详情</h1>
</div>
<div class="expresses_list" id="expresses_list">
  <%= paginate @r_ticket_orders%>
<table class="table table-hover expresses">
  <thead>
    <tr>
      <th>收货人姓名</th>
      <th>收货人电话</th>
      <th>收货人地址</th>
      <th>票的状态</th>
      <th>票的类型</th>
      <th>快递单号</th>
      <th>修改</th>
      <th>查看</th>
    </tr>
  </thead>
  <tbody>
    <% @r_ticket_orders.each do |order| %>
      <tr>
        <td><%= order.user_name  %></td>
        <td><%= order.user_mobile %></td>
        <td width="450px"><%= order.user_address %></td>
        <td><%= order.status_cn %></td>
        <td><%= order.show.ticket_type_cn %></td>
        <td id="td_express_id_<%= order.id %>"><%= order.express_id%></td>
        <td>
          <button class="btn btn-info change_express_data" data-order-id="<%= order.id %>">修改单号</button>
        </td>
        <td>
          <%= link_to "查看详情", operation_order_path(order) %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
  <%= paginate @r_ticket_orders%>
</div>




