<%# encoding: utf-8 %>

<!-- Nav tabs -->
<ul class="nav nav-tabs mb10 order_index_tab" id="orderTab" role="tablist">
  <li role="presentation" class="active" id="orders_tab"><a href="#orders_list" aria-controls="orders_list" role="tab" data-toggle="tab">订单列表</a></li>
  <li role="presentation" id="express_tab"><a href="#express_list" aria-controls="express_list" role="tab" data-toggle="tab">实体票快递详情</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content starpage">
  <div role="tabpanel" class="tab-pane active orderss_list" id="orders_list">
    <%= render partial: "table" %>
  </div>

  <div role="tabpanel" class="tab-pane express_list" id="express_list">

    <div class="nav">
      <div class="search">
        <%= form_tag(operation_orders_path, class: 'form-inline', method: 'get') do %>
          <%= text_field_tag "q_express", params[:q_express],  class: 'form-control', placeholder: "订单号或收货人信息" %>
          <%= submit_tag "搜索", class: 'btn btn-default', id: 'express_search' %>
          <%= submit_tag "重置", class: 'btn btn-default', id: 'express_reset' %>
        <% end %>
      </div>
    </div>

    <div class="expresses_list mt20" id="expresses_list">
      <table class="table table-hover expresses table-responsive">
        <thead>
          <tr>
            <th>订单号</th>
            <th>收货人姓名</th>
            <th>收货人电话</th>
            <th>收货人地址</th>
            <th>门票状态</th>
            <th>门票类型</th>
            <th>快递单号</th>
            <th>备注</th>
            <th class="text-center">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @r_ticket_orders.each do |order| %>
            <tr>
              <td><%= order.out_id%></td>
              <td><%= order.user_name  %></td>
              <td><%= order.user_mobile %></td>
              <td><%= order.user_address %></td>
              <td><%= order.status_cn %></td>
              <td><%= order.show.try(:ticket_type_cn) %></td>
              <td id="td_express_id_<%= order.id %>"><%= order.express_id %></td>
              <td><%= order.remark %></td>
              <td class="text-center">
                <%= link_to '确认出票', set_order_to_success_operation_order_path(order), method: 'post', class: 'btn btn-default' if order.paid? && order.r_ticket? %>
                <%= link_to '修改单号', "javascript::void(0);", class: "btn btn-default change_express_data", data: {'order-id' => order.id} if order.success? %>
                <%= link_to order.sms_has_been_sent ? '再次发送' : '发送短信和推送', manual_send_msg_operation_order_path(order), class: 'btn btn-default' if order.express_id.present? %>
                <%= link_to "订单详情", operation_order_path(order), class: 'btn btn-default' %>
                <%= link_to "快递详情", query_express_path(order.express_name, order.express_id), target: '_blank', class: 'btn btn-default' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @r_ticket_orders, param_name: 'r_ticket_orders_page' %>
    </div>
  </div>
</div>
