<%# encoding: utf-8 %>

<%= javascript_include_tag 'async.min' %>
<%= javascript_include_tag 'spark-md5.min' %>
<%= javascript_include_tag 'upyun-mu' %>

<legend class="boom-top-topic"><%= link_to "音乐列表", boombox_dj_tracks_path %>/<%= params[:action] == "new" ? "上传音乐" : "编辑音乐"%></legend>

<div class="row page_header">
  <% if params[:action] == 'new' %>
    <% form_url = "/boombox/dj/tracks" %>
    <% form_method = "POST" %>
    <h3>上传音乐</h3>
  <% elsif params[:action] == 'edit' %>
    <% form_url = "/boombox/dj/tracks/#{track.id}" %>
    <% form_method = "PATCH" %>
    <h3>编辑音乐</h3>
  <% end %>
</div>

<div class="col-md-8 col-md-offset-2" id="track_form">
  <%= simple_form_for( track, url: form_url, method: form_method, html: { multipart: :true }) do |f| %>
    <div class="track_edit_area">
      <div class="row">
        <div class="track_cover_area ">
          <%= label_tag "cover", "封面" %>
          <div class="track_cover_areawrap">
            <div id="track_cover_preview">
              <%= boombox_default_avatar track.current_cover_url %>
            </div>
            <%= f.input :cover, label: "上传封面(建议大小:300x300)", input_html: {class: "track-cover-uploader"} %>
          </div>
        </div>

        <h3>音乐</h3>
        <div class="track_file_area">
          <% if params[:action] == 'new' %>
            <p id="track_filename">文件：未上传</p>
            <p id="track_size">大小：0 MB</p>
          <% else %>
            <p id="track_filename">文件：已上传</p>
          <% end %>
          <p id="track_duration">时长：<%= track.duration_to_time %></p>
          <p>上传音乐,支持格式：mp3</p>
          <%= file_field_tag 'upyun_upload', class: "track-file-uploader" %>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
              0%
            </div>
          </div>
          <div id="upload_status" class="alert alert-warning" role="alert"></div>
          <p>
            <% if track.file_url %>
              <audio src=<%= track.file_url %> id="track-file-pre" controls="controls">你的浏览器不支持audio标签</audio>
            <% else %>
              <audio src="#" id="track-file-pre">你的浏览器不支持audio标签</audio>
            <% end %>
          </p>
          <%= f.hidden_field :duration %>
          <%= f.hidden_field :file %>
          <%= f.input :name, label: "(必填)标题", placeholder: "请输入少于10字的标题", input_html:{} %>
          <%= f.input :artists, label: "艺术家", input_html:{ id: "dj_track_artists" }%>
          <%= f.input :track_tag_names, label: "标签", input_html:{ id: "dj_track_tags" }%>
        </div>
      </div>

      <% if params[:action] == 'edit' %>
        <div class="row">
          <div class="col-sm-5 delete_area">
            <%= link_to "删除音乐", boombox_dj_track_path(track), method: "delete", data: {confirm: "确定删除吗？"}, class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-offset-5">
        <%= submit_tag "保存", class: "btn btn-primary", id: "track-submit", data: { disable_with: "loading" } %>
      </div>
    </div>
  <% end %>
</div>

<%= content_tag :div, id: "dj_track_tags", data: {
  all_tags: @tag_names
} do %>
<% end %>

<%= content_tag :div, id: "dj_artist_names", data: {
  data: @artist_names
} do %>
<% end %>
