<%# encoding: utf-8 %>
<% if @event.stadium_map_url %>
  <%width = @map_width%>
  <%height = @map_height%>
  <%areas_data = @event.areas.pluck(:coordinates, :id, :left_seats) %>
  <div id="container">
  <div id="stadium_pic_div" style="background-image: url('<%=@event.stadium_map%>'); width: <%=width%>px; height: <%=height%>px; background-size: <%=width%>px <%=height%>px;">
    <canvas id="mobile_stadium_canvas" style="width: <%=width%>px; height: <%=height%>px;">你的浏览器不支持canvas！！！！！！</canvas>
    <img src="<%=@event.stadium_map%>" width="<%=width%>px" height="<%=height%>px" usemap="#s_pic"/>
    <map id="stadium_pic_map" name="s_pic">
    </map>
    <%= content_tag :div, id: "show_area_data", data: {
      areas_data: areas_data,
      show_id: @show.id,
    } do %>
  <% end %>
<% end %>
</div>
</div>
