<div class="modal fade" id="topicModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for([:boombox, :dj, @boom_topic ], html: { class: 'form-horizontal', id: 'topicForm' }) do |f| %>
        <div class="modal-body" style="padding: 30px;">
          <div class="form-group">
            <textarea id="boom_topic_content_editor"></textarea>
          </div>
          <%= f.hidden_field :content %>
          <%= hidden_field_tag 'attachment_ids', value: '' %>
          <%= f.input :video_title %>
          <%= f.input :video_url %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
          <%= submit_tag '发布', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <%= simple_form_for([:boombox, :dj, @boom_topic], 
                          url: create_attachment_boombox_dj_boom_topics_path, 
                          method: 'post', 
                          html: { class: 'dropzone', id: 'attachment-dz-form', multipart: :true }) do |f| %> 
        <div id="upload_message" class="alert alert-warning" role="alert">正在上传，请稍后...</div>
      <% end %>
    </div>
  </div>
</div>

<div id="topics_list">
  <button type="button" class="btn btn-primary updatenews" data-toggle="modal" data-target="#topicModal" id="showModal">
  发布动态
  </button>
  <%= render partial: 'table', locals: {topics: @boom_topics} %>
</div>
