<div class="detail-topic clearfix">
  <h3 class="pull-left">动态详情</h3>
  <%= link_to '删除动态', boombox_dj_boom_topic_path, method: :delete, class: 'btn btn-danger', data: {confirm: '确定吗？'} %>
</div>

  <div class="row ">
    <div class="col-md-6">
      <p><i><%= @boom_topic.created_at.strfcn_time %></i></p>
      <p><%= @boom_topic.content.html_safe %></p>
    </div>

    <div class="col-md-4 col-md-offset-2" id="topic_thumbs">
      <% if @boom_topic.attachments.any? %>
        <% @boom_topic.attachments.each do |attach| %>
          <a href="#imageModal<%= attach.id %>" role="button" class="btn btn-default image" data-toggle="modal">
            <img src=<%= attach.photo_version %> class="thumb"></img>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>

<ul class="nav nav-tabs timeline-tabs">
  <li role="presentation" class="active"><a href="#comments" aria-controls="timeline" role="tab" data-toggle="tab" class="timeline-comment">评论</a></li>
  <li role="presentation"><a href="#likers" aria-controls="likers" role="tab" data-toggle="tab">点赞</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="comments">
    <%= render partial: 'boombox/dj/boom_comments/table', locals: {comments: @comments} %>
  </div>
  <div role="tabpanel" class="tab-pane" id="likers">
    <%= render partial: 'boombox/dj/users/table', locals: {likers: @likers} %>
  </div>
</div>

<% if @boom_topic.attachments.any? %>
  <% @boom_topic.attachments.each do |attach| %>
    <div class="modal fade image-original" id="imageModal<%= attach.id %>" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src=<%= attach.photo_version %> style="width: 100%" />
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
