<div class="detail-topic clearfix">
  <h3 class="pull-left">动态详情</h3>
  <%= link_to '删除动态', boombox_dj_boom_topic_path, method: :delete, class: 'btn btn-danger', data: {confirm: '确定吗？'} %>
</div>

<div class="timeline-content">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-9">内容</th>
        <th class="text-right">创建时间<%= @boom_topic.created_at.strfcn_time %></th>
      <tr>
    <thead>
    <tbody>
      <tr>
        <td><%= @boom_topic.content %></td>
        <td>
          <% if @boom_topic.image_url.present? %>
            <a href="#imageModal" role="button" class="btn btn-default image" data-toggle="modal">
              <img src=<%= @boom_topic.image_url %> class="thumb"></img>
              <figcaption>点击查看大图</figcaption>
            </a>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ul class="nav nav-tabs timeline-tabs">
  <li role="presentation" class="active"><a href="#comments" aria-controls="timeline" role="tab" data-toggle="tab" class="timeline-comment">评论</a></li>
  <li role="presentation"><a href="#likers" aria-controls="likers" role="tab" data-toggle="tab">点赞</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="comments">
    <%= render partial: 'boombox/dj/boom_comments/table', locals: {comments: @comments} %>
  </div>
  <div role="tabpanel" class="tab-pane" id="likers">
    <%= render partial: 'boombox/dj/users/table', locals: {likers: @likers} %>
  </div>
</div>

<% if @boom_topic.image_url.present? %>
  <div class="modal fade image-original" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="topicModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <img src=<%= @boom_topic.image_url %> style="width: 100%">
        </div>
      </div>
    </div>
<% end %>
