<%# encoding: utf-8 %>
<legend><%= link_to "Playlist列表", boombox_operation_playlists_path %>/<%= params[:action] == "new" ? "新建Playlist" : "编辑Playlist"%></legend>
<div class="nav">
  <div class="col-md-offset-4">
    <% if params[:action] == 'new' %>
      <% form_url = "/boombox/operation/playlists" %>
      <% form_method = "POST" %>
    <% elsif params[:action] == 'edit' %>
      <% form_url = "/boombox/operation/playlists/#{playlist.id}" %>
      <% form_method = "PATCH" %>
    <% end %>
  </div>
  <div id="playlist_form">
    <%= simple_form_for( playlist, url: form_url, method: form_method, html: { multipart: :true }) do |f| %>
      <div class="row">
        <div class="col-sm-5">
          <div class="text-center">
            <%= f.input :cover, label: "上传封面(建议大小:500x500)", input_html: {class: "playlist-cover-uploader col-sm-offset-4"} %>
            <div id="playlist_cover_preview">
              <%= boombox_default_avatar playlist.cover_url %>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="playlist_info">
            <%= f.input :name, label: "(必填)标题", placeholder: "请输入标题名字" %>
            <%= f.input :is_top, label: "打勾推荐此Playlist" %>
            <%= f.input :playlist_tag_names, label: "标签", input_html:{ id: "operation_playlist_tags" }%>
          </div>
        </div>
      </div>

      <div class="col-md-offset-5">
        <% if params[:action] == 'edit' %>
          <%= submit_tag "保存", class: "btn btn-primary", id: "playlist-submit", data: { disable_with: "loading" } %>
        <% else %>
          <%= submit_tag "保存", class: "btn btn-primary", id: "new-playlist-submit", data: { disable_with: "loading" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= content_tag :div, id: "operation_playlist_tags_data", data: {
  data: @tags
} do %>
<% end %>
