<%# encoding: utf-8 %>

<div class="nav">
  <h1 class="text-center">新建推送通知</h1>
  <%= form_for @message, url: '/boombox/operation/messages', html:{class: 'form-horizontal'} do |f| %>
    <div class="form-group">
      <%= f.label :subject_type, '类型', class: 'col-md-2 control-label' %>
      <div class="col-md-2">
        <%= f.select :subject_type, [["请选择"], ["艺人", "Collaborator"], ["活动", "Activity"], ["演出", "Show"], ["资讯", "News"], ["playlist", "Playlist"]], {},  class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :subject_id, '跳转对象', class: 'col-md-2 control-label' %>
      <div class="col-md-2">
        <%= f.select :subject_id, [], {}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group boom_message_targets">
      <%= f.label :targets, '推送用户', class: 'col-md-2 control-label' %>
      <div class="col-md-2">
        <%= f.select :targets, [['全部用户', 'all_users'], ['关注用户', 'followers']], {}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :title, '标题', class: 'col-md-2 control-label' %>
      <div class="col-md-2">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :content, '消息正文', class: 'col-md-2 control-label' %>
      <div class="col-md-3">
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :start_time, '定时推送', class: 'col-md-2 control-label' %>
      <div class="col-md-2">
        <%= f.text_field :start_time, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :start_time, '过期时间', class: 'col-md-2 control-label' %>
      <div class="col-md-2">
        <%= f.text_field :expire_time, class: 'form-control', placeholder: '默认3天后过期' %>
      </div>
    </div>
    <%= f.hidden_field :send_type, value: "manual" %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-5">
        <%= f.submit "提交", class: 'btn btn-primary submit_message' %>
      </div>
    </div>
  <% end %>
</div>

<%= content_tag :div, id: "message_subject_data", data: {
  collaborator: ( Collaborator.verified.map{|c| { name: c.display_name, id: c.id }} ),
  activity: ( BoomActivity.activity.is_display.select(:name, :id).map{|activity| { name: activity.name, id: activity.id }} ),
  show: ( BoomActivity.show.is_display.select(:name, :id).map{|show| { name: show.name, id: show.id }} ),
  news: ( BoomActivity.news.is_display.select(:name, :id).map{|news| { name: news.name, id: news.id }} ),
  playlist: ( BoomPlaylist.playlist.open.select(:name, :id).map{|playlist| { name: playlist.name, id: playlist.id }} )
} do %>
<% end %>
