<%# encoding: utf-8 %>

<div class="row user-show">
    <div class="col-md-4">
      <div class="nav">
        <h1><%= @user.show_name %></h1>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>用户名</td>
            <td><%= @user.show_name %></td>
          </tr>
          <tr>
            <td>手机号</td>
            <td><%= @user.mobile %></td>
          </tr>
          <tr>
            <td>注册时间</td>
            <td><%= get_datetime(@user.created_at) %></td>
          </tr>
          <tr>
            <td>最后登录时间</td>
            <td><%= get_datetime(@user.last_sign_in_at) %></td>
          </tr>
          <tr>
            <td>性别</td>
            <td><%= @user.sex_cn %></td>
          </tr>
          <tr>
            <td>生日</td>
            <td><%= get_date(@user.birthday) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 avatar">
      <%= get_avatar(@user, '100x100') %>
      <p><%= link_to "屏蔽头像(还原为默认头像)", remove_avatar_operation_user_path(@user), method: 'post' %></p>
    </div>
  </div>
  <div class="row">
    <div role="tabpanel" class="col-md-8">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#user_orders" aria-controls="orders" role="tab" data-toggle="tab">订单记录<span class="badge"><%= @user.orders.count %></span></a></li>
        <li role="presentation"><a href="#user_topics" aria-controls="topics" role="tab" data-toggle="tab">互动记录<span class="badge"><%= @user.topics.count %></span></a></li>
        <li role="presentation"><a href="#user_comments" aria-controls="comments" role="tab" data-toggle="tab">评论记录<span class="badge"><%= @user.comments.count %></span></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active table users_list" id="user_orders">
  <h3 class="pull-left">订单列表</h3>
          <table class="table users">
            <thead>
              <tr>
                <th>演出</th>
                <th>总价</th>
                <th>状态</th>
                <th>购票时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <% @user.orders.page(params[:page]).each do |order| %>
              <tr>
                <td><%= order.show_name %></td>
                <td><%= order.amount %></td>
                <td><%= order.status_cn %></td>
                <td><%= get_datetime(order.created_at) %></td>
                <td><%= link_to '详细', operation_order_path(order) %></td>
              </tr>
            <% end %>
          </table>
          <%= paginate @user.orders.page(params[:page]) %>
        </div>
        <div role="tabpanel" class="tab-pane users_list" id="user_topics">
  <h3 class="pull-left">互动列表</h3>
          <table class="table users">
            <thead>
              <tr>
                <th>时间</th>
                <th>主题</th>
              </tr>
            </thead>
            <% @user.topics.page(params[:page]).each do |topic| %>
              <tr>
                <td><%= get_datetime(topic.created_at) %></td>
                <td><%= Base64.decode64(topic.content).force_encoding("utf-8") %></td>
              </tr>
              </tr>
            <% end %>
          </table>
          <%= paginate @user.topics.page(params[:page]) %>
        </div>
        <div role="tabpanel" class="tab-pane users_list" id="user_comments">
  <h3 class="pull-left">评论列表</h3>
          <table class="table users">
            <thead>
              <tr>
                <th>时间</th>
                <th>回复</th>
              </tr>
            </thead>
            <% @user.comments.page(params[:page]).each do |comment| %>
              <tr>
                <td><%= get_datetime(comment.created_at) %></td>
                <td><%= Base64.decode64(comment.content).force_encoding("utf-8") %></td>
              </tr>
            <% end %>
          </table>
          <%= paginate @user.comments.page(params[:page]) %>
        </div>
      </div>
    </div>
  </div>
