  <div class="row">
    <div class="col-md-4">
      <div class="nav">
        <h1><%= @user.show_name %></h1>
        <%= link_to "发消息", "#", class: 'send-msg' %>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>用户名</td>
            <td><%= @user.show_name %></td>
          </tr>
          <tr>
            <td>手机号</td>
            <td><%= @user.mobile %></td>
          </tr>
          <tr>
            <td>注册时间</td>
            <td><%= get_datetime(@user.created_at) %></td>
          </tr>
          <tr>
            <td>最后登录时间</td>
            <td><%= get_datetime(@user.last_sign_in_at) %></td>
          </tr>
          <tr>
            <td>性别</td>
            <td><%= @user.sex %></td>
          </tr>
          <tr>
            <td>生日</td>
            <td><%= get_date(@user.birthday) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 avatar">
      <%= get_avatar(@user) %>
      <%= link_to "屏蔽头像(还原为默认头像)" %>
    </div>
  </div>
  <div class="row">
    <div role="tabpanel" class="col-md-8">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">购票记录<span class="badge"><%= @orders.count %></span></a></li>
        <li role="presentation"><a href="#topics" aria-controls="topics" role="tab" data-toggle="tab">互动记录<span class="badge"><%= @topics.count %></span></a></li>
        <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">评论记录<span class="badge"><%= @comments.count %></span></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active table" id="orders">
          <table class="table">
            <thead>
              <tr>
                <th>演出</th>
                <th>总价</th>
                <th>状态</th>
                <th>购票时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.show_name %></td>
                <td><%= order.amount %></td>
                <td><%= order.status_cn %></td>
                <td><%= get_datetime(order.created_at) %></td>
                <td><%= link_to '详细', operation_order_path(order) %></td>
              </tr>
            <% end %>
          </table>
          <%= paginate @orders %>
        </div>
        <div role="tabpanel" class="tab-pane" id="topics">
          <table class="table">
            <thead>
              <tr>
                <th>时间</th>
                <th>主题</th>
              </tr>
            </thead>
            <% @topics.each do |topic| %>
              <tr>
                <td><%= get_datetime(topic.created_at) %></td>
                <td><%= topic.content %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="comments">
          <table class="table">
            <thead>
              <tr>
                <th>时间</th>
                <th>回复</th>
              </tr>
            </thead>
            <% @comments.each do |comment| %>
              <tr>
                <td><%= get_datetime(comment.created_at) %></td>
                <td><%= comment.content %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>