<%# encoding: utf-8 %>
<div class="nav" id='home'>
  <h1 class="pull-left">Hoishow后台首页</h1>
  <table class="table">
    <thead>
      <tr>
        <th>今日成功订单数(<%= link_to "查看更多", operation_orders_path %>)</th>
        <th>待发货订单(<%= link_to "查看更多", operation_orders_path %>)</th>
        <th>今日支付金额(<%= link_to "查看更多", operation_orders_path %>)</th>
        <th>今日注册用户数(<%= link_to "查看更多", operation_users_path %>)</th>
        <th>今日新增投票(<%= link_to "查看更多", operation_concerts_path %>)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span><%=Order.today_success_orders.count%></span></td>
        <td><span><%=Order.paid.select { |order| order.show.r_ticket? }.count%></span></td>
        <td><span><%=Order.today_success_orders.sum(:amount).to_f%></span></td>
        <td><span><%=User.today_registered_users.count%></span></td>
        <td><span><%=UserVoteConcert.today_votes.count%></span></td>
      </tr>
    </tbody>
  </table>
  <div data-votes="<%=get_votes_data%>" data-orders="<%=get_orders_data%>" data-users="<%=get_users_data%>" id="recent_data"></div>
</div>

