<!DOCTYPE html>
<html>
<head>
<title>开Show后台-<%= t( "controller.#{ params[:controller].split('/')[1] }")%> </title>
  <%= stylesheet_link_tag    'operation', media: 'all' %>
  <%= javascript_include_tag 'operation' %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type="text/javascript">
  $(function(){
    var notice = "<%= flash[:notice] || flash[:alert] %>"
    <% if flash[:notice] %>
      $.notify(notice, { 
        globalPosition:"top center",
        className: 'success',} );
    <% elsif flash[:alert] %>
      $.notify(notice, { 
        globalPosition:"top center",
        className: 'error'  } );
    <% end %>
    })
</script>

  <% if current_admin %>
    <%= render partial: "layouts/sidebar" %>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
