<!DOCTYPE html>
<html>
<head>
  <title>开Show后台</title>
  <%= stylesheet_link_tag    'operation', media: 'all' %>
  <%= javascript_include_tag 'operation' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_admin %>
    <%= render partial: "layouts/sidebar" %>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
