<%# encoding: utf-8 %>

<!DOCTYPE html>
<html>
<head>
  <title>开Show后台-<%= t( "controller.#{ params[:controller].split('/')[1] }")%> </title>
  <%= stylesheet_link_tag    'operation', media: 'all' %>
  <%= javascript_include_tag 'operation' %>
  <%= favicon_link_tag '/admin_avatar.png', :type => 'image/png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type="text/javascript">
  $(function(){
    var notice = "<%= flash[:notice] || flash[:alert] || flash[:warning]%>"
    <% if flash[:notice] %>
      $.notify(notice, {
        globalPosition:"top center",
        className: 'success',} );
    <% elsif flash[:alert] %>
      $.notify(notice, {
        globalPosition:"top center",
        className: 'error'  } );
    <% elsif flash[:warning] %>
      $.notify(notice, {
        globalPosition:"top center",
        className: 'warning'  } );
    <% end %>
    })
</script>

  <% if current_admin %>
    <%= render partial: "layouts/sidebar" %>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
